/* front page */

#my_body {
    
    color:antiquewhite;
    background-image: url('image/main-background.jpg');
    position: center center;
    background-size:100%;
}

#content {
    background-color: rgba(0, 0, 0, 0.9);
    position : absolute;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -10;
    color:#dadada;
}

/* start of main navigation*/
#divnav {
    width: 95%;
    float: right;
    margin-top: 2%; 
    margin-right: 2%;
    letter-spacing: 0.08em;
    text-align: right;
    position: relative;
}


#nav li {
    display: inline;
    
}

.main_nav {
    text-decoration: none;
    font-size: 90%;
    color: inherit;
    padding: 4%;
    
}

.main_nav:hover {
    font-size: 80%;
}

/* /* start of desert pic */

#divpic {
    height: 30%;
    width: 45%;
    position: relative;
    margin-top: 9.5%;
    margin-left: 5%;
    border-style: solid;
    border-width:0.3px;
    border-color: darkred;

    /*box-shadow: 5px 5px 40px 2px dimgray;*/

}

#pic {
    height: 60%;
    width: 45%;
    position: absolute;
    margin-left: 10%;
    margin-top: 20%;
}

/* start of text*/
#divtext {
    height: 20%;
    width: 25%;
    margin-top: 10%;
    margin-right: 2%;
    float: right;
    border-style: solid;
    border-width:0.3px;
    border-color: darkred;
    position: relative;
  
}

#text {
    margin-left: 5%;
    letter-spacing: 0.08em;
    word-spacing: 0.20em;
    line-height: 180%;
    font-size: 90%;
}

#divcities {
    width: 40%;
    margin-left: 4%;
    letter-spacing: 0.08em;
    
    margin-top: 42%;
    z-index: 5;
    margin-right: 2%;
    position: absolute;
    text-align: right;
}

#cities li {
    display: inline;
    padding: 10%;
    margin-right: 0.5%;
   
}

#cities li a {
    text-decoration: none;
    color: inherit;
    
}

#cities li a:hover {
    color: red;
}
/* the boy*/